<form ngForm [formGroup]="matiereForm">
  <h1 mat-dialog-title>Matiere : {{ matiere.libelle || "Nouvelle matière" }}</h1>
  <div mat-dialog-content>
    <mat-form-field style="width: 100%">
      <mat-label>Libellé</mat-label>
      <input
        matInput
        type="text"
        formControlName="libelle"
        required
        [(ngModel)]="matiere.libelle"
      />
      <mat-error>
        <!-- {{getErrorMessages('date',f.date.errors)}} -->
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Professeur</mat-label>
      <mat-select
        formControlName="prof"
        [compareWith]="compareProf"
        required
        [(ngModel)]="matiere.prof[0] == null ? matiere.prof : matiere.prof[0]"
      >
        <mat-option *ngFor="let prof of profs" [value]="prof">{{
          prof.prenom + " " + prof.nom
        }}</mat-option>
      </mat-select>
      <!-- <mat-error>{{errorMessage}}</mat-error> -->
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true">Annuler</button>
    <button mat-raised-button color="primary" (click)="confirm()">Confirmer</button>
  </div>
</form>
