<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <ngx-spinner [fullScreen]="false" size="medium"
      ><p style="color: white">En cours de chargement</p></ngx-spinner
    >
    <mat-card-title>Détails de l'assignment</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="separator">
      <mat-card-subtitle class="inline-block">
        <p><b>Matière:</b> {{ assignmentTransmis.nom }}</p>
        <div class="inline-block">
          <p>
            <b>Professeur:</b>
            {{
              assignmentTransmis.prof[0]?.prenom +
                " " +
                assignmentTransmis.prof[0]?.nom
            }}
          </p>
          <img
            src="{{
              backendUrl + '/uploads/' + assignmentTransmis.prof[0]?.photoUrl
            }}"
            width="50"
          />
        </div>
        <p>
          {{ assignmentTransmis.dateDeRendu | date }}
        </p>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <b>Nom de l'élève:</b> {{ assignmentTransmis.auteur }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <b>Note:</b> {{ assignmentTransmis.note | number }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <b>Remarques:</b> {{ assignmentTransmis.remarques }}
      </mat-card-subtitle>
    </mat-card-content>
    <div id="bottom">
      <nav>
        <button mat-stroked-button color="primary" (click)="onClickEdit()">
          Modifier
        </button>
        <button
          *ngIf="!assignmentTransmis.note"
          mat-stroked-button
          color="primary"
          (click)="openDialog()"
        >
          Noter
        </button>
      </nav>

      <button mat-stroked-button color="warn" (click)="onDelete()">
        Supprimer
      </button>
    </div>
  </mat-card>
</div>
