.container {
  margin: 30px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.separator {
  margin-top: 25px;
}

.inline-block,
.teacher-section {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 50%;
}
