<mat-card>
  <main class="container">
    <a routerLink="/add" class="ajouterBtn">
      <button mat-raised-button color="basic">Ajouter un assignment</button>
    </a>
    <mat-tab-group #tabgroup (selectedTabChange)="onTabClick($event)">
      <ngx-spinner [fullScreen]="false" size="medium" style="color: white"
        ><p>En cours de chargement</p></ngx-spinner
      >
      <mat-tab label="Devoirs non-rendus">
        <ng-template matTabContent>
          <h1>Liste des assignments non-rendus</h1>
          <mat-divider></mat-divider>

          <mat-list *ngFor="let a of assignments">
            <nav>
              <a
                routerLink="/assignment/{{ a._id }}"
                class="link_assignment"
                title="Cliquez pour les détails {{ a.nom }}"
              >
                <!-- <mat-list-item> -->
                <div class="header_assignment_details">
                  <h4 *ngIf="a.rendu; else nonsoumis" appRendu>
                    Exercice : {{ a.nom }}
                  </h4>

                  <p mat-subheader>{{ a.dateDeRendu | date }}</p>

                  <div class="prof_display">
                    <p>{{ a.prof[0]?.prenom + " " + a.prof[0]?.nom }}</p>
                    <img src="{{backendUrl + '/uploads/' + a.prof[0]?.photoUrl}}" width="50" />
                  </div>
                </div>
                <p>Matière : {{ a.matiere[0]?.libelle }}</p>
                <p>Elève: {{ a.auteur }}</p>
                <ng-template #nonsoumis>
                  <h4 appNonRendu>
                    {{ a.nom }}, non encore rendu par l'élève.
                  </h4>
                </ng-template>

                <!-- </mat-list-item> -->
              </a>
            </nav>

            <mat-divider></mat-divider>
          </mat-list>

          <nav class="pagination">
            <button mat-icon-button color="primary" (click)="premierePage()">
              <mat-icon>skip_previous</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              [disabled]="!hasPrevPage"
              (click)="pagePrecedente()"
            >
              <mat-icon>navigate_before</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              [disabled]="!hasNextPage"
              (click)="pageSuivante()"
            >
              <mat-icon>navigate_next</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="dernierePage()">
              <mat-icon>skip_next</mat-icon>
            </button>
          </nav>
        </ng-template>
      </mat-tab>
      <mat-tab label="Devoirs rendus">
        <ng-template matTabContent>
          <h1>Liste des assignments rendus</h1>
          <mat-divider></mat-divider>

          <mat-list *ngFor="let a of assignments">
            <nav>
              <a
                routerLink="/assignment/{{ a._id }}"
                class="link_assignment"
                title="Cliquez pour les détails {{ a.nom }}"
              >
                <div class="header_assignment_details">
                  <h4 *ngIf="a.rendu; else nonsoumis" appRendu>
                    Exercice : {{ a.nom }}
                  </h4>

                  <p mat-subheader>{{ a.dateDeRendu | date }}</p>

                  <div class="prof_display">
                    <p>{{ a.prof[0]?.prenom + " " + a.prof[0]?.nom }}</p>
                    <img
                      src="../../assets/img/{{ a.prof[0]?.photoUrl }}"
                      width="50"
                    />
                  </div>
                </div>
                <p>Matière : {{ a.matiere[0]?.libelle }}</p>
                <p>Elève: {{ a.auteur }}</p>
                <ng-template #nonsoumis>
                  <h4 appNonRendu>
                    {{ a.nom }}, non encore rendu par l'élève.
                  </h4>
                </ng-template>
              </a>
            </nav>
            <mat-divider></mat-divider>
          </mat-list>

          <nav class="pagination">
            <button mat-icon-button color="primary" (click)="premierePage()">
              <mat-icon>skip_previous</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              [disabled]="!hasPrevPage"
              (click)="pagePrecedente()"
            >
              <mat-icon>navigate_before</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              [disabled]="!hasNextPage"
              (click)="pageSuivante()"
            >
              <mat-icon>navigate_next</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="dernierePage()">
              <mat-icon>skip_next</mat-icon>
            </button>
          </nav>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </main>
</mat-card>
