.container {
  display: flex;
  flex-direction: column;
}

.top-pagination {
  display: flex;
  justify-content: space-between;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 10px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ajouterBtn {
  align-self: flex-end;
}

.pagination-button,
.pagination {
  display: flex;
  justify-content: space-between;
  float: right;
  align-self: stretch;
}

.pagination-button {
  margin-top: 20px;
}

.link_assignment {
  text-decoration: none;
  color: inherit;
}

.link_assignment:hover {
  font-weight: 500;
}

.header_assignment_details {
  display: flex;
  justify-content: space-between;
}

.prof_display {
  display: flex;
  justify-content: space-between;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 40px;
}

img {
  border-radius: 50%;
}
