<!-- https://material.angular.io/components/table/examples -->
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Data" #input>
</mat-form-field>
<button mat-flat-button color="accent" (click)="onClickAdd()">
    Ajouter un prof
</button>
<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="example-table-container">
        <table mat-table [dataSource]="filteredAndPagedIssues" class="example-table" matSortDisableClear matSort
            matSortDirection="desc" (matSortChange)="resetPaging()">
            <!-- Number Column -->
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">{{row.number}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef>Photo</th>
                <td mat-cell *matCellDef="let row">
                    <img src="{{backendUrl + '/uploads/' + row.photoUrl}}" width="75"/>
                </td>
            </ng-container>

            <!-- Prof Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let row">
                    {{row.prenom + " " + row.nom}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="onClickEdit(row._id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(row._id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="limit"></mat-paginator>
</div>