.nextBtn {
  align-self: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
}

.fill {
  width: 100%;
}

.inline-block {
  flex-direction: column;
  margin: 10px;
}

.mat-form-field {
  margin-right: 15px;
}