<!-- <form ngForm #formAssignment class="form" (submit)="onSubmit($event); formAssignment.reset();">
  <mat-form-field>
    <input matInput placeholder="Nom du devoir" required [(ngModel)]="nom" name="nom">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choisissez une date</mat-label>
    <input matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu" name="date">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-stroked-button color="primary">
    Ajouter un devoir
  </button>
</form> -->


<!-- https://material.angular.io/components/stepper/overview#using-a-single-form -->
<main class="container">

  <form [formGroup]="formGroup">
    <mat-horizontal-stepper #linearVerticalStepper="matHorizontalStepper" formArrayName="formArray" linear>
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" class="test-center">
        <ng-template matStepLabel>Informations sur le devoir</ng-template>
        <mat-form-field class="fill">
          <mat-label>Nom du devoir</mat-label>
          <input matInput formControlName="assignmentName" required>
          <mat-error>{{errorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <mat-label>Matière</mat-label>
          <mat-select formControlName="matiere" required>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
          <mat-error>{{errorMessage}}</mat-error>
        </mat-form-field>
        <div style="text-align: right;">
          <button mat-fab color="primary" aria-label="Suivant" matStepperNext>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>
          <div>Rendu</div>
        </ng-template>
        <mat-form-field class="fill">
          <mat-label>Elève</mat-label>
          <input matInput formControlName="studentName">
          <mat-error>{{errorMessage}}</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <mat-label>Choisissez une date</mat-label>
          <input matInput [matDatepicker]="picker" name="date" formControlName="dateDeRendu">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Note</mat-label>
          <input matInput type="number" min="0" max="20" step="0.5" formControlName="note">
          <span matSuffix>/20</span>
        </mat-form-field>
        <div>
          <mat-form-field class="fill">
            <mat-label>Remarques</mat-label>
            <textarea matInput formControlName="remarque"></textarea>
          </mat-form-field>
        </div>
        <div>
          <div style="float: left;">
            <button mat-fab color="primary" aria-label="Suivant" matStepperPrevious>
              <mat-icon>navigate_before</mat-icon>
            </button>
          </div>
          <div style="float: right;">
            <button mat-fab color="primary" aria-label="Suivant" matStepperNext>
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <div>
          <button mat-button>Done</button>
          <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</main>