<!-- https://material.angular.io/components/stepper/overview#using-a-single-form -->
<main class="container">
  <form [formGroup]="formGroup">
    <mat-horizontal-stepper #linearVerticalStepper="matHorizontalStepper" formArrayName="formArray" linear>
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" class="test-center">
        <ng-template matStepLabel>Informations sur le devoir</ng-template>
        <mat-form-field class="fill">
          <mat-label>Nom du devoir</mat-label>
          <input matInput formControlName="assignmentName" [(ngModel)]="assignment.nom" required>
          <mat-error>{{errorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <mat-label>Matière</mat-label>
          <mat-select formControlName="matiere" [compareWith]="compareMatiere" [(ngModel)]="assignment.matiere" required >
            <mat-option *ngFor="let matiere of matieres" [value]="matiere" >{{matiere.libelle}}</mat-option>
          </mat-select>
          <mat-error>{{errorMessage}}</mat-error>
        </mat-form-field>
        <div style="text-align: right;">
          <button mat-fab color="primary" aria-label="Suivant" matStepperNext>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>
          <div>Rendu</div>
        </ng-template>
        <mat-form-field class="fill">
          <mat-label>Elève</mat-label>
          <input matInput formControlName="studentName" [(ngModel)]="assignment.auteur">
          <mat-error>{{errorMessage}}</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <mat-label>Choisissez une date</mat-label>
          <input matInput [matDatepicker]="picker" name="date" formControlName="dateDeRendu"
            [(ngModel)]="assignment.dateDeRendu">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Note</mat-label>
          <input matInput type="number" min="0" max="20" step="0.5" formControlName="note"
            [(ngModel)]="assignment.note">
          <span matSuffix>/20</span>
        </mat-form-field>
        <div>
          <mat-form-field class="fill">
            <mat-label>Remarques</mat-label>
            <textarea matInput formControlName="remarque" [(ngModel)]="assignment.remarques"></textarea>
          </mat-form-field>
        </div>
        <div>
          <div style="float: left;">
            <button mat-fab color="primary" aria-label="Suivant" matStepperPrevious>
              <mat-icon>navigate_before</mat-icon>
            </button>
          </div>
          <div style="float: right;">
            <button mat-fab color="primary" aria-label="Suivant" matStepperNext>
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon>assignment</mat-icon> {{assignment?.matiere?.libelle}} - {{assignment.nom}}
            </mat-card-title>
            <mat-card-subtitle>Professeur: {{assignment.matiere?.prof[0]?.prenom}} {{assignment.matiere?.prof[0]?.nom}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p> Elève : {{assignment.auteur}} </p>
            <p> Date de rendu : {{assignment.dateDeRendu | date}} </p>
            <p> Note : {{assignment.note}} </p>
            <p> Remarques : {{assignment.remarques}} </p>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="onSubmit($event)">{{isEdition ? "Enregistrer" : "Ajouter"}}</button>
          </mat-card-actions>
        </mat-card>
        <div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</main>